@import "./burgerMenu.css";

.header{
    position: fixed;
    height: 114px;
    width: 100%;

    background-color: rgba(255, 255, 255, 0);

    top: 0;
    left: 0;

    user-select: none;

    transition: background-color 0.5s ease-in-out;

    z-index: 1001;
}
  
.header.solid {
    background-color: rgba(255, 255, 255, 1);
}

.header.solid .header-nav-list-item-link{
    color: #000;
}

.header-nav-list-item-link{
    color: aliceblue;
    transition: color 0.5s ease-in-out;
}

.header-nav-list-item-link:hover{
    color: #FFAC12;
    
}

.header__container{
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.header-nav{
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: display 0.3s ease;

    
}

.header-nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;

    
}

.header-nav-btn-block{
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;

    color: aliceblue;
}

.header-nav-list-item:not(:last-child){
    margin-right: 15px;
}

.header-logo{
    height: 34px;
    width: 128px;

    cursor: pointer;
}

.header-logo img{
    height: 34px;
    width: 128px;
}

.header-nav-btn{
    padding: 14px 40px;

    background-color: #FFAC12;

    color: black;

    border-top-right-radius: 18px;

    cursor: pointer;

    transition: 0.3s ease-in-out;
}

.header-nav-btn:hover{
    border-top-right-radius: 0;

    background-color: rgba(255, 172, 18, 0.7);
}


@media(max-width: 769px){
    .header-nav-menu-btn{
        margin-left: 20px;
    }
}

@media(max-width: 767px){
    .header-nav-list{
        display: none;
    }

    .header-nav-btn-block{
        justify-content: center;
    }

    .header-nav-menu-btn{
        margin-left: 0;
    }
}

@media(max-width: 420px){

    .header-nav-btn-block{
        display: none;
    }
}

@media(max-width: 376px){
    .header{
        height: 70px;
    }
}